= webpack_bundle_tag 'docs'

%div
- if current_application_settings.help_page_text.present?
  = markdown(current_application_settings.help_page_text)
  %hr

- unless current_application_settings.help_page_hide_commercial_content?
  %h1
    GitLab
    Enterprise Edition
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= link_to Gitlab::REVISION, Gitlab::COM_URL + namespace_project_commits_path('gitlab-org', 'gitlab-ee', Gitlab::REVISION)
      - if current_application_settings.version_check_enabled
        = version_status_badge

  %p.slead
    GitLab is open source software to collaborate on code.
    %br
    Manage git repositories with fine-grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    Read more about GitLab at #{link_to promo_host, promo_url, target: '_blank', rel: 'noopener noreferrer'}.
    %p= link_to 'Check the current instance configuration ', help_instance_configuration_url
  %hr

.row.prepend-top-default
  .col-md-8
    .documentation-index.wiki
      = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        Quick help
      %ul.well-list
        %li= link_to 'See our website for getting help', support_url
        %li
          %button.btn-blank.btn-link.js-trigger-search-bar{ type: 'button' }
            Use the search bar on the top of this page
        %li
          %button.btn-blank.btn-link.js-trigger-shortcut{ type: 'button' }
            Use shortcuts
        - unless current_application_settings.help_page_hide_commercial_content?
          %li= link_to 'Get a support subscription', 'https://about.gitlab.com/pricing/'
          %li= link_to 'Compare GitLab editions', 'https://about.gitlab.com/features/#compare'
